
html, body{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Manrope';

}

body{
    background-image: 
                     url("images/pattern-circles.svg"),
                     url("images/bg-pattern.svg");
    background-repeat:no-repeat;
    background-position: top center;
    font-size:15px;
    font-weight: 600;
    box-sizing:border-box;
   
     
  
}

main{
    color:hsl(225, 20%, 60%);
    background-color:hsl(0, 0%, 100%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    margin-top: 50px;
    padding:30px 50px 20px;
    box-sizing: border-box;
    border-radius:12px;
    
   
      
} 

h4{
    color:hsl(225, 20%, 60%);
}

.master{
    text-align:center;
}

hr{
    border:none;
    height: 1px;
    background-color: #eee;
    position:relative;
    width: calc(100% + 100px);
    left:-50px;
    margin-bottom: 20px;
    margin-top:20px;
    
}


#priceContainer{
    display:flex;
    gap:100px;
    word-spacing: 4px;
    justify-content: space-around;
    align-items: center;
    
}

#price{
    color:hsl(227, 35%, 25%);
    font-size:40px;
}

#pageview{
    letter-spacing:2px;
    text-transform: uppercase;
    font-weight: 800;
}


aside{
    display:flex;
    gap: 100px;
    justify-content:space-between;
    align-items:center;
    
}

.toggle{
    display:flex;
    gap:10px;
    align-items:center;
    justify-content:flex-end;
}


ul{
    list-style-image: url("./images/icon-check.svg");
    padding: 0 10px;
     
}

li{
    padding:5px;
}


p{
    display:flex;
    align-items:center;

}

/*li::before{
    content:url("images/icon-check.svg");
    position:relative;
    left: -15px;
    top:0px;

}*/

.discount{
    color:hsl(15, 100%, 70%);
    background-color:hsl(14, 92%, 95%);
    border: 1px solid hsl(14, 92%, 95%);
    padding:2px;
    border-radius:5px;
}

.sliderRange{
    margin:30px 0;
    width:100%;
    height:8px;
    border-radius:5px;
    background-color:hsl(224, 65%, 95%);
    position:relative;
}

.sliderRange::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:hsl(50, 100%, 50%);
    cursor:pointer;
}

.sliderRange::-moz-range-thumb{
    width:40px;
    height:40px;
    border-radius: 50%;
    background:url("images/icon-slider.svg");
    cursor:pointer;
    background-repeat:no-repeat;
    background-position:center center;
    background-color:hsl(174, 86%, 45%);
    border:0;
      
}

.sliderRange::-ms-thumb{
    background-color:transparent;
    height:40px;
    width:40px;
    background:hsl(174, 77%, 80%);
    background-image:url('images/icon-slider.svg');

}

.sliderRange::ms-fill-lower{
    background:hsl(174, 77%, 80%);
}

.sliderRange::ms-fill-upper{
    background:hsl(224, 65%, 95%);
}

#pageviewRange{
    accent-color:hsl(174, 77%, 80%)
}


button{
    width: 180px;
    height: 45px;
    color:hsl(0, 0%, 100%);
    border-radius: 20px;
    background-color: hsl(227, 35%, 25%);
    font-weight:600;
    cursor:pointer;
    border:1px solid hsl(227, 35%, 25%);
}




footer{
    visibility: hidden;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 48px;
    height: 24px;
    background:  hsl(223, 50%, 87%);
    display: block;
    border-radius: 24px;
    position: relative;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 18px;
    transition: 0.3s;
  }
  
  input:checked + label {
    background: lightgreen;
  }
  
  label:hover{
    background:lightgreen;
  }
  input:checked + label:after {
    left: calc(100% - 4px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 130px;
  }